body {
    margin: 20px;
    min-height: 200px;
}

.center-block {
    width: 600px;
    text-align: center;
}

.diagramTools {
    margin-bottom: 20px;
}

.tree {
    max-height: 800px;
    min-width: 300px;
    overflow: scroll;
    resize: horizontal;
}

.app-container {
    display: flex;
    flex-flow: row nowrap;
}

.app-diagram {
    max-height: 800px;
}

path.domain {
    fill: none;
    stroke: black;
}

g.tick > line {
    stroke: black;
    stroke-dasharray: 1 5;
}

.app-spreadsheet {
    
}

canvas {
    width: 1800px;
    height: 800px;
}

svg {
    position: relative;
    top: -800px;
    width: 1800px;
    height: 800px;
}

.tooltip-inner {
    max-width: 250px;
    width: 250px;
}